#todos {
    border-collapse: collapse;
}
#todos td, #todos th{
    border: 1px solid black;
    padding:10px;   
}

#todos tr:hover {
    background-color: #f2f2f2;
}
#todos tr:nth-child(even) {
    background-color: #ddd;
}
#todos th {
    background-color: #4caf50;
    color:white;
    text-align:left;
    padding:12px 12px;
}

.btn-info {
    margin-top:10px;
    margin-left:10px;
}