<div class="row">
    <div class="col-sm-4">
        <div class="col-sm-12">
            <label for="">ID</label> <br>
            <input type="number" name="enteredid" [(ngModel)]="enteredid">
        </div>
        <div class="col-sm-12">
            <label for="">User Id</label> <br>
            <input type="number" name="entereduserid" [(ngModel)]="entereduserid">
        </div>
        <div class="col-sm-12">
            <label for="">Title</label> <br>
            <input type="text" name="enteredtitle" [(ngModel)]="enteredtitle">
        </div>
        <div class="col-sm-12">
            <label for="">Completed</label> <br>
            <input type="text" name="enteredtask" [(ngModel)]="enteredtask">
        </div>
        <div class="col-sm-12">
        <button class="btn btn-info" (click)="savetodoList()">Save</button> 
        <button class="btn btn-info" (click)="updateTodoInfo()">Update</button>
        </div>
    </div>
    <div class="col-sm-8">
        <table id="todos">
            <tr>
                <th>ID</th>
                <th>User Id</th>
                <th>Title</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let data of tododata">
                <td>{{data.id}}</td>
                <td>{{data.userId}}</td>
                <td>{{data.title}}</td>
                <td>{{data.completed}}</td>
                <td><i class="fa fa-edit" style="font-size:24px" (click)="DisplaydataById(data.id)"></i>&nbsp;<i class="fa fa-remove" style="font-size:24px" (click)="deleteTodoInfo(data.id)"></i></td>
            </tr>
        </table>
    </div>
</div>